@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kings&family=Spicy+Rice&display=swap");

:root {
  /* Colors */
  --primary: #ff608c;
  --secondary: #fda4af;
  --s70: rgba(249, 170, 176, 0.7);
  --p75: rgba(255, 96, 141, 0.75);
  --back: rgba(119, 86, 85, 0.5);
  /* Fonts */
  --spicy: "Spicy Rice", serif;
  --kings: "Kings", cursive;
  --dancing: "Dancing Script", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1rem;
  scroll-behavior: smooth;
}

body, html{
  height: 100vh;
  background: url("Pudim-background2.jpg") no-repeat;
  background-size: cover;
}

/** Header and Navigation */
.header-container {
  background-color: white;
  height: 8.12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 60px white;
}

.nav-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1.87rem;
}

.header-logo {
  width: 12rem;
  height: 8.12rem;
}

.nav-div a {
  font-size: 1.18rem;
  font-family: var(--spicy);
  color: var(--primary);
  background-color: var(--secondary);
  padding: 0.2rem;
  border-radius: 0.56rem;
  text-shadow: 1px 1px 2px white;
}

.nav-div hr + a:hover {
  color: white;
  text-shadow: 1px 1px 2px var(--secondary);
  background-color: var(--primary);
}

.side-lines {
  height: 4rem;
  border: 1px solid var(--secondary);
  box-shadow: 1px 1px 2px var(--primary);
}

/** Main section */
.main-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.87rem;
}

.first-main-div {
  background-color: var(--back);
  width: 80rem;
  height: 7.5rem;
  margin: 5.62rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 7.5rem 7.5rem 0 0;
  overflow: hidden;
  box-shadow: inset 0 0.25rem 0.62rem white;
}

.first-main-div h2 {
  font-family: var(--dancing);
  color: white;
  text-shadow: 0px 1px 2px var(--primary);
  font-size: 1.3rem;
  font-weight: normal;
  width: 57.5rem;
  padding: 2rem;
}

.link-wpp {
  color: var(--primary);
  font-weight: bold;
  font-size: 1.9rem;
  text-shadow: 0 1px 2px white;
}
.last-main-div {
  background-color: var(--back);
  width: 80rem;
  height: 7.5rem;
  margin: 5.62rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 7.5rem 7.5rem;
  overflow: hidden;
  box-shadow: inset 0 0.25rem 0.62rem white;
}

.last-main-div h2 {
  font-family: var(--dancing);
  color: white;
  text-shadow: 0px 1px 2px var(--primary);
  font-size: 3rem;
  font-weight: normal;
  width: 57.5rem;
}

.last-main-div span {
  color: var(--primary);
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 0 1px 2px white;
}


/** Main Catalog */

#div-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog {
  display: flex;
  box-shadow: inset 0 0.25rem 0.62rem white;
  border-radius: 6.87rem 0;
  background-color: var(--s70);
  top: 28.43rem;
  margin: 4rem auto;
}

.catalog h1 {
  margin: -4.2rem auto 0 auto;
  bottom: .81rem;
  font-size: 6rem;
  font-family: var(--kings);
  font-weight: normal;
  color: var(--primary);
  text-shadow: 2px 2px 2px white;
  text-transform: uppercase;
}

.catalog-list, .catalog-list2 {
  width: 14.75rem;
  height: 12.18rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-format{
  display: flex;
  justify-content: space-around;
  width: 95vw;
}

.catalog-list h3, .catalog-list2 h3, .catalog-list3 h3{
  width: 14.75rem;
  height: 12.18rem;
  margin: 0.5rem;
  border-radius: 1.25rem;
  color: white;
  background-color: var(--p75);
  box-shadow: 4px 4px 10px white;
  font-size: 2.06rem;
  font-weight: normal;
  font-family: var(--spicy);
  text-align: center;
  text-shadow: 2px 2px 2px var(--secondary);
}


.catalog-list span, .catalog-list2 span, .catalog-list3 span {
  color: black;
  font-size: 2.06rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px white;
}

.catalog-list span + span, .catalog-list2 span + span, .catalog-list3 span + span{
  color: white;
  text-shadow: 1px 1px 2px black;
}

.catalog-list2 .span-format, .catalog-list3 .span-format{
  font-size: 1.75rem;
  text-wrap: nowrap;
}

/** Catalog Image */

.pudding-img{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 95vw;
}

.special-pudding-img{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.img-pudding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-pudding img{
  background-color: var(--s70);
  border-radius: 1.25rem;
  filter: drop-shadow(2px 2px 4px black);
}

.img-text {
  font-size: .81rem;
  color: white;
  border-radius: 1.25rem;
  text-shadow: 0px 2px 2px var(--primary);
  filter: drop-shadow(2px 2px 4px black);
  background-color: var(--s70);
  font-family: var(--spicy);
  text-wrap: nowrap;
  font-weight: normal;
  margin: .5rem auto;
  padding: 0 .5rem 0 .5rem;
}

#catalog-line {
  height: 18.18rem;
  border: 1px solid var(--secondary);
  box-shadow: 1px 1px 2px var(--primary);
}
/** Footer */

footer {
  background-color: var(--s70);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  opacity: 70%;
  height: 10rem;
  position: relative;
}

#side-line-footer {
  height: 10rem;
  border: 1px solid var(--primary);
  box-shadow: 1px 1px 2px white;
}

/** Instagram */

#instagram{
  position: absolute;
  left: 20rem;
  top: 4.5rem;
}

#link-instagram {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#side-line-instagram{
  border: 1px solid var(--primary);
  box-shadow: 1px 1px 2px white;
  margin-top: .2rem;
}


#instagram-icon{
  color: white;
  background: rgb(249,206,52);
  background: linear-gradient(140deg, rgba(249,206,52,1) 0%, rgba(238,42,123,1) 50%, rgba(98,40,215,1) 100%);
  border-radius: .3rem;
  padding: .1rem;
  margin: .2rem;
}

#link-instagram:hover {
  color: white;
  text-shadow: 1px 1px 2px var(--primary);
}

/** WhatsApp */
#whatsapp{
  position: absolute;
  top: 4.5rem;
  right: 20rem;
}

#link-whatsapp{
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  color: black;
}


#side-line-whatsapp {
  border: 1px solid var(--primary);
  box-shadow: 1px 1px 2px white;
  margin-top: .2rem;
}

#whatsapp-icon{
  margin: .2rem;
  width: 1.5rem;
  height: 1.5rem;
}

#link-whatsapp:hover {
  color: white;
  text-shadow: 1px 1px 2px var(--primary);
}
/* Functions JS */
#up {
  opacity: 0;
  transition: all 1s ease-out;
}

.activated-up {
  opacity: 1 !important;
  position: sticky;
  align-self: flex-end;
  bottom: 0;
  color: var(--primary);
  filter: drop-shadow(0 1px 2px white);
  padding-right: 2rem;
}

#catalog-show {
  opacity: 0;
  transition: all .6s ease-in;
}
#catalog-show2 {
  opacity: 0;
  transition: all .6s ease-in;
}
#catalog-show3 {
  opacity: 0;
  transition: all .6s ease-in;
}
#catalog-show4 {
  opacity: 0;
  transition: all .6s ease-in;
}
#catalog-show5 {
  opacity: 0;
  transition: all .6s ease-in;
}


.catalog-active-up {
  opacity: 1 !important;
}

#catalog-icon svg{
  width: 10rem;
  height: 10rem;
}

#catalog-icon {
  color: var(--secondary);
  filter: drop-shadow(0 4px 4px var(--primary));
  position: sticky;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
  transition: all 1s ease-out;
}

.catalog-icon {
  opacity: 0 !important;
}